
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  fb h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1877f2;
  }
  
  fb form {
    margin-bottom: 20px;
  }
  
  fb label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1877f2;
  }
  
 fb  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
 fb input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }
  
 fb  input[type="submit"]:hover {
    background-color: #0e63ac;
  }
  
  fb a {
    display: block;
    text-align: center;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
  }
  
  .social-media-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
 